<section id="login" class="hero is-fullheight is-primary is-bold">
  <div class="hero-content">
    <div class="container">
      <div class="column is-offset-3 is-6">
        <p class="control">
          <a class="row-item button" data-ng-click="googleOAuth()">
            Google
          </a>
          <a class="row-item button" data-ng-click="facebookOAuth()">
            Facebook
          </a>
        </p>
      </div>
    </div>
  </div>

  <div class="hero-footer">
    <div class="container">
      <div class="tabs is-centered">
        <ul>
          <li><a>Snowflake</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
