/ %nav#main-navbar.navbar.navbar-inverse.navbar-fixed-top.ng-cloak{role: 'navigation'}
/   .navbar-inner
/     .navbar-header
/       %a.navbar-brand
/         LOGO
/     #main-navbar-collapse.collapse.navbar-collapse.main-navbar-collapse
/       %ul.nav.navbar-nav.pull-left.left-navbar-nav
/         %li{"data-ng-click": "navigateTo('history')"}
/           %a
/             History
/         %li{"data-ng-click": "navigateTo('active')"}
/           %a
/             Active
/         %li{"data-ng-click": "navigateTo('planned')"}
/           %a
/             Planned

/       %ul.nav.navbar-nav.pull-right.right-navbar-nav
/         %li
/           %a{href: ""}
/             Logout

